* {
	text-align: center;
	font-weight: bold;	
	font-family: 'Lato',sans-serif;
}

body {
	background-color: antiquewhite;
}

h1 {
	text-transform: uppercase;
	color: maroon;
	margin-top: 15%;
}

#Texte {
	font-style: italic;
}

button {
	-webkit-box-shadow: 15px 10px 15px 5px #000000; 
	box-shadow: 15px 10px 15px 5px #000000;
}
